html {
	height: 100%;
	background-color: #fff;
}

body {
	height: 100%;
	font: 300 14px/14px 'Roboto', Arial, sans-serif;
	color: #9b9b9c;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
a,
p {
	font: 700 22px/26px 'Montserrat', Arial, sans-serif;
	color: #333;
}

a, p {
	font-size: 14px;
	line-height: 14px;
}