/*
This is the visible area of carousel.
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 0 0 10px 10px;
    @include border-radius(3px);

    &:last-child {
        margin: 0 0 0 10px;
    }

    ul {
        width: 20000em;
        position: relative;
    }

    li {
        float: left;
        width: 300px;
        height: 240px;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.jcarousel-prev,
.jcarousel-next {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .jcarousel {
        width: 236px;
        float: left;
        margin: 0 10px 0;

        li {
            width: 236px;
            height: 400px;
        }


    }

    .jcarousel-prev,
    .jcarousel-next {
        display: block;
        position: absolute;
        width: 40px;
        height: 70px;
    }

    .jcarousel-prev {
        top: 35px;
        left: 15px;
        background: url(../img/icon_arrow_l.png) 5px 5px no-repeat;
    }

    .jcarousel-next {
        top: 35px;
        right: 15px;
        background: url(../img/icon_arrow_r.png) 5px 5px no-repeat;
    }
}

@media screen and (min-width: 960px) {
    .jcarousel {
        float: left;
        margin: 0 10px 0;

        li {
            height: 400px;
        }
    }

    .jcarousel-prev,
    .jcarousel-next {
        display: block;
        position: absolute;
        width: 40px;
        height: 70px;
    }

    .jcarousel-prev {
        top: 147px;
        left: 16px;
        background: url(../img/icon_arrow_l.png) 5px 5px no-repeat;
    }

    .jcarousel-next {
        top: 147px;
        right: 16px;
        background: url(../img/icon_arrow_r.png) 5px 5px no-repeat;
    }
}
#gridWrapper {
	margin: 0 0 37px;
}

.grid-item {
	width: 300px;
	height: 120px;
	float: left;
	margin: 0 0 10px 10px;
	text-align: center;
	line-height: 125px;
	@include border-radius(3px);
	&:last-child {
		margin: 0 0 0 10px;
	}

	.topic {
		font-size: 22px;
		line-height: 22px;
		color: #fff;
		display: inline-block;
	}
}

.grid-item--width2 {
	width: 300px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	
	#gridWrapper {
		margin: 0 0 86px;
	}

	.grid-item {
		width: 235px;
		height: 308px;
		line-height: 320px;
		margin: 11px 10px;
	}

	.grid-item--width2 {
		width: 490px;
	}
}

@media screen and (min-width: 960px) {
	#gridWrapper {
		margin: 0 0 89px;
	}

	.grid-item {
		width: 300px;
		height: 309px;
		line-height: 320px;
		margin: 10px 10px;
	}

	.grid-item--width2 {
		width: 619px;
	}
}