body {
	background: url(../img/background.jpg) no-repeat #0c739f;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0px 0px 9px 0px rgba(11,93,115,1);
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
/*HEADER*/
.header {
	background-color: #fff;
}
.logo {
    float:left;
    padding: 18px 0 0 27px;
    line-height: 0;
}
.contacts-and-courses {
    float:right;
}
.contacts-and-courses p span {
	display: block;
}
.contacts-and-courses p {
	width: 130px;
	padding: 10px 0 0 229px;
	font: normal 12px/17px Tahoma, sans-serif;
	color: #41a1b9;
}
.contacts-and-courses p:first-line {
	line-height: 22px;
	font-weight: bold;
}
.right-menu {
	padding: 33px 0 8px 0;
}
.right-menu a {  
    color: #329ab3;
    font-size: 10px;
}

.right-menu a img {
	margin: 0 7px;
}

.right-menu a span {
	display: block;
}

.right-menu li {
	display: inline-block;
	text-align: center;
}

.right-menu li:nth-child(6) {
	padding: 0 32px 0 3px;
}

.image {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	line-height: 0;
}

/*MENU*/
.navigation {
	border-bottom: 1px solid #000000;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    position: relative;
    z-index: 2;
}
.menu {
    background: -moz-linear-gradient(top,  #1e5799 0%, #373737 0%, #303030 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#373737), color-stop(100%,#303030)); /* Chrome,Safari4+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#373737 0%,#303030 100%); /* W3C */
}

.menu li {
	float: left; 
	position: relative;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0 33px;
    line-height: 27px;
}
.triangle:after {
	content: "";
	position: absolute;
	top: 13px;
	right: 17px;
	height: 6px;
	width: 5px;
	background: url(../img/icon.png) 0 0 no-repeat;
}
/*---Выпадающие пункты---*/
.menu ul {
	position: absolute;
	left: -9999px;
	opacity: 0;
	-webkit-transition:0.25s linear opacity;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
}
.menu li:hover ul {
	left: 23px;
	top: 28px;
	opacity: 1;
}
.menu ul li {
	background-color: #303030;
}
.menu ul a {
	white-space: nowrap;
	line-height: 24px;
	color: #c8c8c8;
    padding: 0 44px 0 9px;
}

/*CONTENT*/
.content {
	z-index: 1;
	width: 1000px;
	float: left;
	background: url(../img/content.jpg) repeat-y;
}

#col1 {
    float:left;
    width: 208px;
    background: #edeef0;
}

#col2 {
    float:left;
    width: 580px;
}

#col3 {
    float:right;
    width: 208px;
}
.content p span {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 11px 0 5px 0;
}
.content p {
	line-height: 24px;
	padding: 0 20px 10px 14px;
}
/*FOOTER*/
.footer p {
	line-height: 33px;
	font-size: 12px;
	padding-left: 550px;
	color: #cee3ec;
}


