/*========Media Queries=======*/
/*== == == 768 == == ==*/
/*== == == == === == == == ==*/
@media screen and (min-width: 768px) and (max-width: 960px) {
	.wrapper {
		max-width: 768px;
	}

	.logo {
		margin: 70px 0 29px 20px;
	}

	.menu_list {
		margin: 0 0 0 14px;
	}

    .menu_item {
        margin: 0 40px 0 0;
    }

    .menu_list-inner {
        margin: 0 0 0 40px;
    }

	.slider {
		margin: 73px 0 154px;
		padding: 98px 0 110px;
	}

	.banner {
		top: -120px;
		left: 453px;
	}

	.slider-head {
		font-size: 48px;
		margin: 0 0 0 43px;
	}

	.textblock {
	    margin: 8px 0 0 43px;
    }

    .textblock_head {
    	max-width: 310px;
    	font-size: 24px;
    	margin: 0 0 2px;
    }

    .textblock_content {
    	max-width: 272px;
    	max-height: 110px;
    	font-size: 16px;
    	letter-spacing: .0025em;
    }

    h2+.textblock_content:first-line {
    	line-height: 38px;
    }

    .slider_control-prev {
    	top: -98px;
    	left: -15px;
    }

    .slider_control-next {
    	top: -98px;
    	left: 732px;
    }

    .pagination {
    	top: 340px;
    	left: 543px;
    }

/*SUB-HEADER*/

    .sub-header {
        padding: 77px 0 67px 0;
    }

    .textblock-3columns {
        margin: 0;
        padding: 0 0 0 82px;
    }

    .icon-dialog {
        padding: 0 0 0 97px;
    }

    .icon-music {
        padding: 0 0 0 106px;
    }

    .textblock-3columns:before {
        top: 2px;
        left: 30px;
    }

    .icon-dialog:before {
        left: 45px;
    }

    .icon-music:before {
        left: 54px;
    }

    .textblock_head-3columns {
    	margin: 0 0 4px;
    }

    .textblock_content-3columns {
        max-width: 155px;
    	max-height: 142px;
    }

    .more {
    	margin: 9px 5px 0 0;
    }

/*CONTENT*/

    .direct-speech {
    	padding: 29px 19px 41px 39px;
	    margin: 0 0 0 44px;
    }

    .textblock-inSpeech {
        margin: 0;
    }

    .textblock_head-inSpeech {
    	max-width: 90px;
    	margin: 0 0 9px;
    }

    .textblock_content-inSpeech {
        max-width: 255px;
    	max-height: 145px;
    }

    .textblock-inSpeech:before {
    	left: 19px;
    }

    .textblock-inSpeech:after {
    	left: 300px;
        top: 272px;
    }

    .pagination-inSpeech {
    	top: 297px;
    	left: 159px;
    }

    .updates {
        margin: 30px 0 0 58px;
    }

    .textblock-inUpd {
    	margin: 0;
    }

    .textblock_head-inUpd {
    	font-size: 30px;
        margin: 0 0 18px;
    }

    .textblock_content-inUpd {
        margin: 0 0 15px;
        max-width: 270px;
    	max-height: 52px;
    }

    .more-inUpd {
    	margin: 0 10px 0 0;
    }
/*SPONSORS*/
    .sponsor-img {
    	margin: 0 27px;
    }

    .sponsor-img:first-child {
    	margin: 0 27px 0 0;
    }

    .sponsor-img:last-child {
    	margin: 0 0 0 27px;
    }
/*PRE-FOOTER*/
    .logo-in-foot,
    .textblock_head-show2,
    .copyright {
    	display: none;
    }

    .textblock_head-show1 {
    	display: block;
    }

    .pre-footer {
        padding: 101px 0 94px;
    }

    .textblock-inNews {
    	margin: 0 0 0 55px;
    }

    .textblock-inNews:first-child {
        margin: 0 0 0 20px;
    }

    .textblock_head-inNews {
    	margin: 0 0 10px;
    }

    .textblock_content-inNews {
        max-width: 210px;
    	max-height: 167px;
    }
/*FOOTER*/
    .footer {
        padding: 46px 0 86px;
    }

    .menu_list-inFoot  {
    	margin: 0 0 0 20px;
    }

    .menu_item-inFoot {
    	margin: 0 44px 0 0;
    }

    .sig {
    	margin: 57px 20px 0 0;
    }
}
/*== == == == === == == == ==*/
/*== == == 480 == == ==*/
/*== == == == === == == == ==*/
@media screen and (min-width: 480px) and (max-width: 768px) {
	.wrapper {
		max-width: 480px;
	}

    .header {
        padding: 70px 0 0;
    }

    .logo {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .header>.wrapper {
        z-index: 100;
    }

    .slider>.wrapper {
        z-index: 99;
    }

    .header-menu {
        text-align: center;
        position: relative;
    }

    .menu_list-short {
        margin: 23px 0 0 118px;
        
    }

    .menu_item-short {
        margin: 0;
        background-color: rgba(54, 41, 62, .35);
        border-top: 1px solid #84758a;
        border-bottom: 1px solid #36283e;
    }

    .menu_item-visible {
        border-color: transparent;
        background: transparent;
    }

    .menu_item-visible:hover {
        background-color: rgba(54, 41, 62, .35);
        border-top: 1px solid #84758a;
        border-bottom: 1px solid #36283e;
    }

    .menu_item-short a {
        width: 244px;
        padding: 0;
        line-height: 37px;
        text-shadow: 2px 1px 2px rgba(141, 130, 133, .6);
        border-bottom: 2px solid transparent;
    }

    .menu_list-inner .menu_item:last-child a {
        padding: 0;
    }

    .menu_item-visible>a {
        line-height: 45px;
    }

    .menu_list-inner {
        position: absolute;
        left: -9999px;
        opacity: 0;
        -webkit-transition: .2s linear opacity;
        -moz-transition: .2s linear opacity;
        transition: .2s linear opacity;
    }

    .menu_item-short a:hover {
        border-bottom: 2px solid #edbfff;
        background-color: rgba(54, 41, 62, .5);
    }

    .menu_item-visible:hover .menu_list-inner {
        left: 118px;
        top: 72px;
        opacity: 1;
    }

    .slider {
        margin: 22px 0 99px;
        padding: 92px 0 90px;
    }

    .banner {
        top: -100px;
        left: 262px;
        max-width: 182px;
        height: auto;
    }

    .slider-head {
        font-size: 36px;
        margin: 0 0 0 40px;
    }

    .textblock {
        margin: 4px 0 0 30px;
    }

    .textblock_head {
        font-size: 18px;
    }

    .textblock_content {
        max-height: 0;
    }

    .slider_control {
        width: 80px;
        height: 246px;
        top: -92px;
    }

    .slider_control-prev {
        left: -75px;
        background-position: 55px 106px;
    }

    .slider_control-next {
        left: 455px;
        background-position: 3px 106px;
    }

    .pagination {
        top: 177px;
        left: 204px;
    }


/*SUB-HEADER*/

    .sub-header {
        padding: 77px 0 70px 0;
    }

    .textblock-3columns {
        margin: 0;
        padding: 0 0 0 83px;
    }

    .icon-dialog {
        margin: 25px 0 0 0;
    }

    .icon-music {
        margin: 29px 0 0 0;
    }

    .textblock-3columns:before {
        left: 30px;
    }

    .textblock_head-3columns {
        font-size: 24px;
        margin: 0 0 4px;
    }

    .textblock_content-3columns {
        max-height: 72px;
        max-width: 373px;
    }

    .more {
        margin: 14px 0 0;
    }
/*CONTENT*/
    .content {
        padding: 69px 0 89px;
    }

    .direct-speech {
        padding: 27px 17px 32px 38px;
        margin: 0 0 0 44px;
    }

    .textblock-inSpeech {
        margin: 0;
    }

    .textblock_head-inSpeech {
        max-width: 250px;
        font-size: 30px;
        margin: 0 0 15px;
    }

    .textblock_content-inSpeech {
        max-height: 170px;
        max-width: 360px;
    }

    .textblock-inSpeech:before {
        top: 17px;
        left: 20px;
    }

    .textblock-inSpeech:after {
        left: 335px;
    }

    .pagination-inSpeech {
        top: 295px;
        left: 205px;
    }

    .updates {
        margin: 89px 0 0 83px;
    }

    .textblock-inUpd {
        margin: 0;
    }

    .textblock_head-inUpd {
        font-size: 30px;
        margin: 0 0 18px;
    }

    .textblock_content-inUpd {
        margin: 0 0 14px;
        max-height: 52px;
    }

    .more-inUpd {
        margin: 2px 60px 0 0;
    }
/*SPONSORS*/
    .sponsor-img {
        margin: 12px 35px;
    }

/*PRE-FOOTER*/
    .logo-in-foot,
    .textblock_head-show2,
    .copyright {
        display: none;
    }

    .textblock_head-show1 {
        display: block;
    }

    .pre-footer {
        padding: 79px 0 87px;
    }

    .textblock-inNews {
        margin: 56px 0 0 18px;
    }

    .textblock-inNews:first-child {
        margin: 0 0 0 18px;
    }

    .textblock_head-inNews {
        font-size: 24px;
    }

    .textblock_content-inNews {
        max-width: 444px;
        max-height: 97px;
    }
/*FOOTER*/

    .footer {
        padding: 46px 0 84px;
    }

    .menu_list-inFoot  {
        margin: 0;
    }

    .menu_item-inFoot {
        margin: 0 0 0 25px;
    }

    .sig {
        float: right;
        margin: 38px 168px 0 0;
    }
}
/*== == == == === == == == ==*/
/*== == == == 320 == == == ==*/
/*== == == == === == == == ==*/
@media screen and (min-width: 320px) and (max-width: 480px) {
	.wrapper {
        max-width: 320px;
    }

    .header {
        padding: 70px 0 0;
    }

    .logo {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .header>.wrapper {
        z-index: 100;
    }

    .slider>.wrapper {
        z-index: 99;
    }

    .header-menu {
        text-align: center;
    }

    .menu_list-short {
        margin: 24px 0 0 38px;
        position: relative;
    }

    .menu_item-short {
        margin: 0;
        background-color: rgba(54, 41, 62, .35);
        border-top: 1px solid #84758a;
        border-bottom: 1px solid #36283e;
    }

    .menu_item-visible {
        border-color: transparent;
        background: transparent;
    }

    .menu_item-visible:hover {
        background-color: rgba(54, 41, 62, .35);
        border-top: 1px solid #84758a;
        border-bottom: 1px solid #36283e;
    }

    .menu_item-short a {
        width: 244px;
        padding: 0;
        line-height: 37px;
        text-shadow: 2px 1px 2px rgba(141, 130, 133, .6);
        border-bottom: 2px solid transparent;
    }

    .menu_item-visible>a {
        line-height: 45px;
    }

    .menu_list-inner {
        position: absolute;
        left: -9999px;
        opacity: 0;
        -webkit-transition: .2s linear opacity;
        -moz-transition: .2s linear opacity;
        transition: .2s linear opacity;
    }

    .menu_item-short a:hover {
        border-bottom: 2px solid #edbfff;
        background-color: rgba(54, 41, 62, .5);
    }

    .menu_item-visible:hover .menu_list-inner {
        left: 0;
        top: 49px;
        opacity: 1;
    }

    .slider {
        background-color: transparent;
        margin: 114px 0 157px;
        padding: 0;
    }

    .banner {
        display: none;
    }

    .slider-head {
        font-size: 36px;
        margin: 0 0 0 65px;
    }

    .textblock {
        margin: 3px 0 0 45px;
    }

    .textblock_head {
        font-size: 18px;
    }

    .textblock_content {
        max-height: 0;
    }

    .slider_control {
        width: 70px;
        height: 246px;
        top: -92px;
    }

    .slider_control-prev {
        left: -35px;
        background-position: 30px 106px;
    }

    .slider_control-next {
        left: 278px;
        background-position: 18px 106px;
    }

    .pagination {
        top: 136px;
        left: 124px;
    }

/*SUB-HEADER*/

    .sub-header {
        padding: 70px 0 65px;
    }

    .textblock-3columns {
        margin: 0;
        padding: 0 0 0 82px;
    }

    .more {
        margin: 15px 0 0;
    }

    .icon-dialog {
        margin: 25px 0 0 0;
    }

    .icon-music {
        margin: 38px 0 0 0;
    }

    .textblock-3columns:before {
        top: 2px;
        left: 30px;
    }

    .textblock_head-3columns {
        font-size: 24px;
        margin: 0 0 4px;
    }

    .textblock_content-3columns {
        max-height: 72px;
        max-width: 214px;
    }


/*CONTENT*/
    .content {
        padding: 68px 0 86px;
    }

    .direct-speech {
        padding: 25px 24px 26px 35px;
        margin: 0 0 0 44px;
    }

    .textblock-inSpeech {
        margin: 0;
    }

    .textblock_head-inSpeech {
        font-size: 24px;
        max-width: 90px;
        margin: 0 0 6px;
    }

    .textblock_content-inSpeech {
        max-height: 168px;
        max-width: 194px;
        margin: 0 0 0 3px;
    }


    .textblock-inSpeech:before {
        top: 19px;
        left: 20px;
    }
    .textblock-inSpeech:after {
        top: 273px;
        left: 250px;
    }

    .pagination-inSpeech {
        top: 298px;
        left: 141px;
    }

    .updates {
        margin: 89px 0 0 19px;
    }

    .textblock-inUpd {
        margin: 0; 
    }

    .textblock_head-inUpd {
        font-size: 30px;
    }

    .textblock_content-inUpd {
        margin: 0 0 16px;
        max-width: 235px;
        max-height: 52px;
    }

/*    .to-post {
        max-width: 200px;
        max-height: 24px;
    }*/

    .to-post span {
        display: block;
        max-width: 200px;
        max-height: 24px;
        overflow: hidden;
    }

    .more-inUpd {
        margin: 0 27px 0 0;
    }
/*SPONSORS*/
    .sponsors {
        padding: 21px 0 45px;
    }
    .sponsor-img {
        margin: 30px 30px
    }

    .sponsor-img:nth-child(5) {
        margin-left: 36px;
    }

    .sponsor-img:last-child {
        margin-top: 13px;
    }

/*PRE-FOOTER*/
    .pre-footer {
        display: none;
    }
/*FOOTER*/

    .footer {
        padding: 42px 0 146px;
    }

    .menu_list-inFoot  {
        display: none;
    }

    .sig {
        margin: 0 88px 0 0;
    }

}