<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exam</title>

	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
    	<div class='wrapper'>
    		<nav class="clearfix">
    			<h1><a href="#">URLAUBSGLÜCK</a></h1>
		    	<div id="auth" class="clearfix">
		    		<a class="btn btn--auth" href="#">Log in</a>
		    		<a class="btn btn--auth btn--sign-up" href="#">Sign up</a>
		    	</div>
    		</nav>
	    	<h2 class="text">
	    		Share your holiday dreams
	    		<span class="text__subtext">And find the perfect partner to fullfill it</span>
	    	</h2>
    		<a class="btn" href="#">Find your holiday partner</a>
	    </div>
    </header>

<!-- =======================how it works======================= -->
    <div class="contents">
    	<div class='wrapper clearfix'>
    		<h3>How Urlaubsgluck works?</h3>
    		<div class="jcarousel">
    			<ul>
    				<li><img src="img/img_slider-1.jpg" alt=""></li>
    				<li><img src="img/img_slider-1-1.jpg" alt=""></li>
    				<li><img src="img/img_slider-1-2.jpg" alt=""></li>
    			</ul>
    			<a href="#" class="jcarousel-prev"></a>
    			<a href="#" class="jcarousel-next"></a>
    			<div class="text-wrap">
	    			<p class="btn btn--slider">Step 1</p>
						<p class="text text--slider">
						Sed leo enim, condimentum
						<span class="text__subtext text__subtext--slider">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
						</p>
					</div>
    		</div>
    		<div class="jcarousel">
    			<ul>
    				<li><img src="img/img_slider-2.jpg" alt=""></li>
    				<li><img src="img/img_slider-2-1.jpg" alt=""></li>
    				<li><img src="img/img_slider-2-2.jpg" alt=""></li>
    			</ul>
    			<a href="#" class="jcarousel-prev"></a>
    			<a href="#" class="jcarousel-next"></a>
    			<div class="text-wrap">
	    			<p class="btn btn--slider">Step 2</p>
						<p class="text text--slider">
						Morbi velit risus
						<span class="text__subtext text__subtext--slider">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
						</p>
					</div>
    		</div>
    		<div class="jcarousel">
    			<ul>
    				<li><img src="img/img_slider-3.jpg" alt=""></li>
    				<li><img src="img/img_slider-3-1.jpg" alt=""></li>
    				<li><img src="img/img_slider-3-2.jpg" alt=""></li>
    			</ul>
    			<a href="#" class="jcarousel-prev"></a>
    			<a href="#" class="jcarousel-next"></a>
    			<div class="text-wrap">
	    			<p class="btn btn--slider">Step 3</p>
						<p class="text text--slider">
						Sed leo enim, condimentum
						<span class="text__subtext text__subtext--slider">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
						</p>
					</div>
    		</div>
    	</div>
    </div><!-- =======================end how it works============= -->

<!-- =======================partner=======================s -->
    <div class="contents">
    	<div class='wrapper'>
    		<h3>Meet a partner for your best holiday</h3>
    		<ul class='clearfix'>
    			<li>
	    			<figure class="partner">
	    				<img src="img/img_partner-1.jpg" alt="" class="partner__ava">
	    				<img src="img/img_category-1.jpg" alt="" class="partner__cat">
	    				<figcaption class="partner__description">
	    				<a href="#" class="partner__id">Bradley Hunter</a>
	    				Based in Chicago. I love playing tennis and loud music.</figcaption>
	    			</figure>
	    		</li>
	    		<li>
	    			<figure class='partner align-right'>
	    				<img src="img/img_partner-2.jpg" alt="" class="partner__ava">
	    				<img src="img/img_category-2.jpg" alt="" class="partner__cat">
	    				<figcaption class="partner__description">
	    				<a href="#" class="partner__id">Heather Walker</a>
	    				I'm a happy person that loves cats and climbing on mountains.</figcaption>
	    			</figure>
	    		</li>
	    		<li>
	    			<figure class='partner align-bottom'>
	    				<img src="img/img_partner-3.jpg" alt="" class="partner__ava">
	    				<img src="img/img_category-3.jpg" alt="" class="partner__cat">
	    				<figcaption class="partner__description">
	    				<a href="#" class="partner__id">Lucas Marsha</a>
	    				I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</figcaption>
	    			</figure>
	    		</li>
	    		<li>
	    			<figure class='partner align-right'>
	    				<img src="img/img_partner-4.jpg" alt="" class="partner__ava">
	    				<img src="img/img_category-4.jpg" alt="" class="partner__cat">
	    				<figcaption class="partner__description">
	    				<a href="#" class="partner__id">Bradley Hunter</a>
	    				Based in Chicago. I love playing tennis and loud music.</figcaption>
	    			</figure>
	    		</li>
    		</ul>
    		<div class="group-center">
	    		<a class="btn btn--partners" href="#">See other partners</a>
	    	</div>
    	</div>
    </div><!-- =======================end partners================== -->

<!-- =======================ideas============================= -->
		<div class="contents contents--ideas">
			<div class='wrapper'>
				<h3>Discover holiday activity ideas</h3>
				<div id="gridWrapper" class="clearfix">
					<!-- template here -->
				</div>

				<h3>Discover holiday activity ideas</h3>
				<form action="#" class="group-center" id="imagesRequest">
					<label for="request">Hi! What are your holiday interests?</label>
					<input type="text" placeholder="Enter your interests" id="request">
					<button type="submit" class="btn btn--form">Search partners</button>
				</form>
			</div>
		</div><!-- =======================end ideas================== -->

<!-- =======================FOOTER============================= -->
		<footer>
			<div class='wrapper clearfix'>
				<p class="logo"><a href="#">URLAUBSGLÜCK</a></p>
				<div class="links">
					<p class="links__head">Company</p>
					<ul class="clearfix">
						<li class="links__link"><a href="#">About</a></li>
						<li class="links__link"><a href="#">Contacts</a></li>
						<li class="links__link"><a href="#">Press</a></li>
						<li class="links__link"><a href="#">Blog</a></li>
					</ul>
				</div>
				<div class="links">
					<p class="links__head">Partners</p>
				</div>
				<div class="designed">Designed by
					<span><img src="img/img_designed.png" alt=""></span>
				</div>
			</div>
		</footer><!-- ============END FOOTER============================= -->


	<script type="text/template" id="pixplorer">
					<div class="grid">
            <% for (var i = 0; i <= 6; i++) { %>
                  <div class="grid-item" style="background: url( <%= data[i].webformatURL %> ) no-repeat center center">
	                	<p class="topic"> <%= data[i].user %></p>
	                </div>
            <% }; %>
					</div>
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="js/main.min.js"></script>
</body>
</html>