<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson23-24</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

  <script type="text/template" id="wrapper-template">
    <div class="wrapper">
    	<div class="controlls">
    		<input type="text" id="input" placeholder="Write what you need to do?">
    		<button id="item-add">+</button>
    	</div>
    	<ul id="item-list"></ul>
    </div>
  </script>

  <script type="text/template" id="list-template">
  	<% for (var i = 0; i < data.length; i++) {%>
    	<li class="item"><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete">-</span>
    	<input type="text" class="item-change">
    	</li>
  	<% }; %>
  </script>

  <script src="js/tmpl.js"></script>
  <script data-main="js/app" src="js/require.js"></script>
	
	
</body>
</html>